 body {

      /* background-color: #212121;
        color: #fff; */

      background: linear-gradient(135deg, #0f2027, #9259ba, #2c5364);
      color: white;
      font-family: 'Poppins', sans-serif;


    }

    .center {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    #clock {
      font-size: 40px;
      background-color: bisque;
      padding: 20px 50px;
      margin-top: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .card {
      background: rgba(183, 143, 187, 0.1);
      backdrop-filter: blur(10px);
      border-radius: 20px;
      padding: 20px 40px;
      box-shadow: 0 8px 32px rgba(17, 17, 0, 0.3);
    }

    #banner{
      font-size: 35px;
      margin-bottom: 10px;
      color: black;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 600;
    }

    #clock{
        color: #0f2027;
        font-weight: 600;
    }