*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 50px;
}

button{
    font-size: 15px;
    font-weight: 500;
    color:lightpink;
    background-color:black;
    padding: 10px 25px;
    margin-left: 10px;
    border-radius: 10px;
}

#start{
    margin-left: 650px;
    margin-top: 20px;
}